table {
    width: auto;
    margin: 0 auto;
  }

table, th, td {
    border: none;
    border-collapse: collapse;
    text-align: left;
}

#results {
    border-radius: 80px;
}

thead > tr{
    color: #ffffff;
    background-color: #6c7ae0 ;
}

tbody > tr {
    background-color: #ffffff
}

tbody > tr:nth-child(even) {
    background-color: #D6EEEE;
  }

td,th {
    padding: 5px;
}
