{% extends 'base.html' %}


{% block title %}MNP{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mnp.css') }}">
{% endblock %}
{% block content %}
<form autocomplete="off" method="POST" style="height:50px">
    <section id="searchBar">
        <button type="submit"><img src="{{ url_for('static', filename='img/search.svg') }}" alt="Search"></button>
        <input name="msisdn" placeholder="385951001000, 385952002200, 385..."></input>
    </section>
</form>
{% block results %}{% endblock %}
<script defer src="{{ url_for('static', filename='js/mnp.js') }}"></script>
{% endblock %}